.layout {
  height: 100vh;
  overflow: scroll;
  padding: 10px 50px;
}

.header {
  height: 10%;
  background-color: rgb(74, 75, 75);
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.header h1 {
  color: rgba(195, 195, 195, 0.702);
  font-size: 22px;
  padding-top: 10px;
}
.menu-btn {
  border: 1px solid white;
  color: #fff;
}
.menu-btn:hover {
  background-color: rgb(108, 103, 103);
  border: 1px solid white;
  color: black;
}
.content {
  height: 80%;
  border: 1px solid gray;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(128, 128, 128, 0.486);
  overflow: scroll;
}

@media screen and (max-width: 600px) {
  .layout {
    padding: 10px 10px;
  }
}
