* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.button {
  background-color: rgb(8, 118, 118);
  border-radius: 5px;
  padding: 10px 30px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}
.template-homepage__title {
  text-align: center;
  margin-top: 30px;
}
